.section {
  &-title {
    margin-bottom: 1.6em;
  }
}
.block {
  &--two-column {
    display: flex;
    justify-content: space-between;
    .block__item {
      width: calc(50% - 3.5rem);
    }
  }
}
.benefit-list {
  margin: 0 -7rem;
  li {
    width: 33.3333%;
    padding: 0 7rem;
  }
  &__item {
    &__icon {
      max-height: 70px;
      margin-bottom: 4rem;
      display: flex;
      align-items: flex-end;
      img {
        max-height: 100%;
      }
    }
    .h4 {
      margin-bottom: 0.5em;
    }
  }
}
.form-block {
  border-radius: 10px;
  background: url("../img/form_bottom_bg.png") 0 100% no-repeat,
    url("../img/form_top_bg.png") 100% 0 no-repeat, #41a8ed;
  background-size: 30rem, 30rem, auto;
  padding: 13rem 0;
  color: #fff;
  .h2 {
    color: #fff;
    margin-bottom: 0.7em;
  }
  &__content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    form {
      width: 100%;
    }
  }
}
.input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  height: 70px;
  color: var(--black);
  font-family: var(--main-font);
  padding-left: 1em;
  font-size: 20px;
  border: 1px solid rgba(110, 126, 157, 0.3);
  transition: all 0.3s;
}
textarea.input {
  height: 150px;
  padding-top: 1em;
  resize: none;
}
select.input {
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) 50%;
}
.input-wrapper {
  margin-bottom: 2.4rem;
  &--white {
    span {
      color: #fff;
    }
    .input {
      background-color: rgba(#fff, 0.2);
      border: 1px solid #fff;
      &:focus {
        background: #fff;
      }
    }
  }
  span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
  }
  &__field {
    position: relative;
    .error-text {
      position: absolute;
      color: var(--red-dark);
      font-size: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 1em;
      display: none;
    }
    &.error {
      .input {
        background-color: #fff;
      }
      .error-text {
        display: inline;
      }
    }
  }
}
.form-notice {
  font-size: 16px;
  font-weight: 500;
  color: rgba($color: #fff, $alpha: 0.6);
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  height: 72px;
  min-width: 230px;
  border-radius: 10px;
  outline: none;
  border: none;
  appearance: none;
  transition: all 0.3s;
  &--white {
    background-color: #fff;
    color: var(--red);
    &:hover {
      background-color: var(--red);
      color: #fff;
    }
    &:active {
      background-color: var(--red-dark);
    }
  }
  &--blue {
    background-color: var(--blue);
    color: #fff;
    box-shadow: 0px 16px 40px rgba(0, 35, 102, 0.1);
    &:hover {
      background-color: var(--blue-light);
    }
    &:active {
      background-color: var(--blue-dark);
    }
  }
  &--full {
    width: 100%;
  }
}
.grant-block {
  &__descr {
    flex-grow: 1;
    padding-right: 10rem;
    .h4 {
      margin-bottom: 1.5em;
    }
    .custom-list {
      margin-bottom: 24rem;
    }
  }
  &__form {
    flex: none;
    width: 570px;
    background: #ffffff;
    box-shadow: 0px 16px 40px rgba(0, 35, 102, 0.1);
    border-radius: 10px;
    padding: 4rem;
    .h5 {
        margin-bottom: 1.3em;
    }
  }
}
.custom-list {
  li {
    position: relative;
    font-size: 2.4rem;
    line-height: 1.5;
    padding-left: 2em;
    &::before {
      content: "";
      width: 1em;
      height: 0.6875em;
      background: url("../img/check_red.svg") 0 0 no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 0.4em;
    }
    &:not(:last-child) {
      margin-bottom: 1.8em;
    }
  }
}
.company-logo-block {
  margin-top: 7rem;
  p {
    margin-bottom: 0;
  }
}
.company-logo {
  width: 8rem;
  height: 8rem;
  margin-right: 2.4rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.grant-form__notice {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(110, 126, 157, 0.5);
    margin-top: 2em;
}