.document-content {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px 60px;
    margin: 0 auto;
    @media (max-width: 1440px) {
        max-width: 830px;
    }
    @media (max-width: 768px) {
        padding-top: 40px;
    }
    &__item {
        margin-bottom: 70px;
        @media (max-width: 640px) {
            margin-bottom: 40px;
        }
    }
    h1 {
        font-size: 40px;
        @media (max-width: 640px) {
            font-size: 32px;
        }
    }
    h2 {
        font-size: 32px;
        @media (max-width: 640px) {
            font-size: 24px;
        }
    }
    h3 {
        font-size: 24px;
        @media (max-width: 640px) {
            font-size: 20px;
        }
    }
    h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    h1, h2, h3, h4, h5 {
        font-weight: 600;
    }
    h1, h2, h3 {
        margin-bottom: 40px;
        @media (max-width: 640px) {
            margin-bottom: 24px;
        }
    }
    p  {
        font-size: 18px;
        margin-bottom: 30px;
        @media (max-width: 640px) {
            font-size: 16px;
            margin-bottom: 20px;
            a {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
        }
    }
    ul {
        list-style: square;
        font-size: 18px;
        padding-left: 1em;
        line-height: 1.6;
        @media (max-width: 640px) {
            font-size: 16px;
        }
        li {
            list-style: square;
            margin-bottom: 1em;
        }
    }
}