.first-screen {
  background: #41A8ED url('../img/first-screen-bg.png') 100% 0 no-repeat;
  background-size: contain;
  color: var(--white);
  height: 100vh;
  @media (min-width: 1280px) {
    min-height: 700px;
  }
  @media(max-width: 1279px) {
      height: auto;
      min-height: 600px;
      .container {
          min-height: 600px;
      }
  }
  .h1 {
    color: #fff;
    font-family: var(--main-font);
    margin-bottom: 0.5em;
  }
  .h3 {
    color: rgba($color: #fff, $alpha: 0.6);
    font-weight: 500;
  }
  .logo {
    display: inline-block;
    margin-bottom: 6em;
  }
  &__descr {
    width: 55%;
  }
  &__img {
    width: 40%;
  }
  .container {
    height: 100%;
    position: relative;
    z-index: 2;
  }
}
.first-screen__decor {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  span {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    &:first-child {
      width: 46.6rem;
      height: 46.6rem;
      transform: rotate(45deg) translate(-5%, -75%);
      transform-origin: center;
    }
    &:nth-child(2) {
      width: 69.5rem;
      height: 69.5rem;
      transform: rotate(45deg) translate(-1%, -74%);
      transform-origin: center;
    }
    &:nth-child(3) {
        width: 91.2rem;
        height: 91.2rem;
        transform: rotate(45deg) translate(-1%, -72%);
        transform-origin: center;
      }
  }
}
.first-screen__descr__content {
  margin-bottom: 6rem;
  .h3{
    font-size: 3rem;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}