@font-face {
	font-family: "Outfit";
	src: url("../font/Outfit/Outfit-ExtraBold.woff") format("woff");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: "Outfit";
	src: url("../font/Outfit/Outfit-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Outfit";
	src: url("../font/Outfit/Outfit-SemiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "Outfit";
	src: url("../font/Outfit/Outfit-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Outfit";
	src: url("../font/Outfit/Outfit-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../font/Inter/Inter-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../font/Inter/Inter-SemiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../font/Inter/Inter-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../font/Inter/Inter-SemiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../font/Inter/Inter-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

