/*Footer*/ 
.footer{
    border-top: 1px solid #D4D7E0;
    &__main {
        padding: 8rem 0 6rem;
        &__data {
            width: 58%;
            &__item {
                .h5 {
                    margin-bottom: 1em;
                }
            }
        }
    }
    &__bottom {
        padding: 5rem 0;
        border-top: 1px solid #D4D7E0;
    }
}
.footer__menu {
    li {
        display: flex;
        align-items: flex-start;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 1em;
        color: var(--grey-dark);
        .icon {
            margin-right: 1em;
            position: relative;
            top: 2px;
        }
        a {
            &:hover {
                color: var(--blue);
            }
        }
    }
}
.copyright {
    color: var(--grey-dark);
    font-size: 16px;
    line-height: 1.2;
}
.social {
    display: flex;
    li {
        width: 48px;
        height: 48px;
        &:not(:last-child) {
            margin-right: 2rem;
        }
        a {
            &:hover {
                opacity: 0.8;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
        }
    }
}