/*Header*/ 
.header {
    padding: 10rem 0;
}
.to-home {
    font-size: 20px;
    color: var(--black);
    .icon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        flex: none;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &:hover {
        color: var(--blue)
    }
}