:root{
	--main-font: "Inter", sans-serif;
	--second-font: "Outfit", sans-serif;
	--grey-text: rgba(13, 19, 33, 0.6);
	--black: #0D1321;
	--blue: #41A8ED;
	--blue-light: #67B9F1;
	--blue-dark: #007CCE;
	--grey-dark: #6E7E9D;
	--light-grey: #FAFAFA;
	--red: #E56399;
	--red-dark: #DA397C;
}
html, body{
	min-height: 100%;
}
html{
	font-size: 10px;
}
body{
	background-color: #fff;
	color: var(--grey-text);
	font-family: var(--main-font);
	font-size: 2rem;
}
.noscroll {
	overflow: hidden;
}
img{
	max-width: 100%;
}
a{
	color: currentColor;
	transition: all .2s;
}
h1, .h1{
	font-size: 12rem;
}
h2, .h2{
	font-size: 4.8rem;
	line-height: 1.3;
}
h3, .h3{
	font-size: 3.6rem;
	line-height: 1.3;
}
h4, .h4 {
	font-size: 3.2rem;
	line-height: 1.3;
}
h5, .h5 {
	font-size: 2rem;
	line-height: 1.3;
}
.font-800{
	font-weight: 800;
}
.font-600{
	font-weight: 600;
}
.font-500{
	font-weight: 500;
}
b, strong{
	font-weight: 700;
}
p {
	font-size: 2rem;
	line-height: 1.6;
	&:not(:last-child) {
		margin-bottom: 1.5em;
	}
	b {
		color: var(--black)
	}
	a {
		color: var(--blue);
		font-weight: 700;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.text-center{
	text-align: center;
}
.text-uppercase{
	text-transform: uppercase;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.container{
	width: 100%;
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.flex{
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
}
.align-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
.black {
	color: var(--black);
}
.grey {
	color: var(--grey-text)
}
.light-grey {
	color: var(--light-grey)
}
.bg-grey {
	background-color: var(--light-grey)
}
.blue {
	color: var(--blue)
}
.black{
	color: var(--black)
}
.white {
	color: #fff;
}
.section {
	padding: 16rem 0;
}
.show-tablet {
	display: none !important;
}
.list {
	font-size: 2rem;
	line-height: 1.5;
	list-style: disc;
	padding-left: 1em;
	li {
		margin-bottom: 0.5em;
		list-style: disc;
	}
}