@media(max-width: 1440px) {
    html {
        font-size: 0.6vw;
    }
    .container {
        max-width: 1350px;
    }
    .grant-block__form {
        width: 535px;
    }
    .header {
        padding: 50px 0;
        .container {
            max-width: unset;
        }
    }
    .startup-logo {
        max-width: 660px;
    }
}
@media(max-width: 1024px) {
    .first-screen {
        .logo {
            height: 6rem;
            img {
                height: 100%;
            }
        }
    }
    .benefit-list__item__icon {
        height: 8rem;
    }
}
// 1024
@media(max-width: 1023px) {
    .grant-block {
        display: block;
    }
    .grant-block__form {
        width: 100%;
        max-width: 535px;
        margin: 60px auto 0
    }
    .grant-block__descr .custom-list {
        margin-bottom: 18rem;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 1vw;
    }
    body {
        overflow-x: hidden;
    }
    .wrapper {
        display: block;
        width: 100%;
    }
    .container {
        max-width: 680px;
    }
    .first-screen {
        min-height: unset;
        padding: 70px 0;
        background-image: url('../img/first-screen-bg_tablet.png');
        background-size: auto;
        &__img,
        &__descr {
            width: 100%;
        }
        &__img {
            position: relative;
            min-height: 54rem;
            & > img {
                position: absolute;
                top: -70px;
                right: -5rem;
                max-height: 60rem;
            }
        }
        .container {
            min-height: unset;
            flex-direction: column-reverse;
        }
        .logo {
            height: 32px;
        }
    }
    .hide-tablet {
        display: none !important;
    }
    .show-tablet {
        display: block !important;
    }
    h1, .h1 {
        font-size: 9rem;
    }
    h2, .h2 {
        font-size: 32px;
    }
    h3, .h3 {
        font-size: 3.2rem;
    }
    h4, .h4 {
        font-size: 24px;
    }
    h5, .h5 {
        font-size: 20px;
    }
    .custom-list li {
        font-size: 18px;
    }
    p, .list {
        font-size: 16px;
    }
    .benefit-list {
        margin: 0 -20px;
        li {
            width: 50%;
            padding: 0 20px;
            margin-bottom: 40px;
        }
        &__item {
            p {
                font-size: 14px;
            }
        }
    }
    .benefit-list__item__icon {
        height: 50px;
        margin-bottom: 20px;
    }
    .section-title {
        margin-bottom: 2em;
    }
    .section {
        padding: 10rem 0;
        &-form {
            .container {
                padding: 0;
                max-width: unset;
            }
        }
    }
    .form-block {
        border-radius: 0;
        padding: 10rem 0;
        &--content {
            max-width: 680px;
            margin: 0 auto;
            padding: 0 15px;
        }
    }
    .block--two-column {
        display: block;
        .block__item {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 1.5em;
            }
        }
    }
    .btn {
        min-width: 180px;
        height: 50px;
    }
    .input {
        height: 60px;
    }
    .footer__main__data {
        width: 100%;
    }
    .footer__bottom {
        .logo {
            height: 24px;
            img {
                height: 100%;
            }
        }
    }
    .copyright {
        font-size: 12px;
    }
    .social li {
        width: 32px;
        height: 32px;
    }
    .social li:not(:last-child) {
        margin-right: 15px;
    }
    .footer__main {
        padding: 60px 0 20px;
    }
    .footer__bottom {
        padding: 30px 0;
    }
    .input-wrapper {
        margin-bottom: 25px;
    }
    .header {
        padding: 30px 0;
    }
}
// 768
@media(max-width: 640px) {
    .first-screen {
        padding: 30px 0 100px;
        &__img {
            -ms-content-zoom-limit-min: unset;
            & > img {
                position: static;
                display: block;
                margin: 0 auto;
                top: 0;
                right: 0;
                max-height: unset;
            }
        }
    }
    .h1 {
        font-size: 56px;
    }
    h2, .h2,
    h3, .h3 {
        font-size: 24px;
        br {
            display: none;
        }
    }
    h4, .h4 {
        font-size: 20px;
    }
    h5, .h5 {
        font-size: 18px;
    }
    .custom-list li,
    .input,
    .first-screen__descr__content .h3 {
        font-size: 16px;
    }
    p, .list {
        font-size: 14px;
        line-height: 1.7;
    }
    .grant-form__notice {
        font-size: 12px;
    }
    .section {
        padding: 70px 0;
    }
    .section-title {
        margin-bottom: 1em;
    }
    .benefit-list {
        margin: 0;
        li {
            width: 100%;
            padding: 0;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__item {
            &__icon {
                height: 40px;
            }
        }
    }
    .form-block__content {
        padding: 0 15px;
        .btn {
            width: 100%;
        }
    }
    .input {
        height: 55px;
    }
    textarea.input {
        height: 100px;
    }
    .footer__main {
        display: block;
        padding: 40px 0 0;
        &__data {
            display: block;
            &__item {
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }
    .footer__bottom {
        flex-wrap: wrap;
        .copyright {
            width: 100%;
            order: 3;
            text-align: center;
            margin-top: 30px;
        }
    }
    .form-block {
        padding: 50px 0;
    }
    .section {
        &-form {
            padding-top: 0;
        }
    }
    .confirm-popup {
        padding: 60px 20px 20px;
        .btn {
            width: 100%;
        }
    }
    .popup__icon {
        margin-bottom: 60px;
    }
    .confirm-popup .h3 {
        margin-bottom: 10px;
    }
    .confirm-popup p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .close-popup {
        top: 20px;
        right: 20px;
    }
    .input-wrapper {
        margin-bottom: 30px;
    }
    .first-screen__descr {
        .btn {
            width: 100%;
        }
    }
}