#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .7);
    display: none;
    z-index: 90;
}
.confirm-popup {
    border-radius: 10px;
    background-color: #fff;
    width: 90%;
    max-width: 750px;
    padding: 60px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    display: none;
    transition: all .3s;
    z-index: 100;
    &.active {
        display: block;
        transform: translate(-50%, -50%);
    }
    .h3 {
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 2em;
    }
}
.popup__icon {
    margin-bottom: 6rem;
}
.close-popup {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 30px;
    right: 30px;
    color: var(--grey-dark);
    &::before,
    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        left: 0;
        top: 50%;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        color: var(--red)
    }
}