html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
}

select::ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/Outfit-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/Outfit-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/Outfit-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/Outfit-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/Outfit-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter/Inter-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter/Inter-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter/Inter-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --main-font: "Inter", sans-serif;
  --second-font: "Outfit", sans-serif;
  --grey-text: rgba(13, 19, 33, 0.6);
  --black: #0D1321;
  --blue: #41A8ED;
  --blue-light: #67B9F1;
  --blue-dark: #007CCE;
  --grey-dark: #6E7E9D;
  --light-grey: #FAFAFA;
  --red: #E56399;
  --red-dark: #DA397C;
}

html, body {
  min-height: 100%;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: var(--grey-text);
  font-family: var(--main-font);
  font-size: 2rem;
}

.noscroll {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s;
}

h1, .h1 {
  font-size: 12rem;
}

h2, .h2 {
  font-size: 4.8rem;
  line-height: 1.3;
}

h3, .h3 {
  font-size: 3.6rem;
  line-height: 1.3;
}

h4, .h4 {
  font-size: 3.2rem;
  line-height: 1.3;
}

h5, .h5 {
  font-size: 2rem;
  line-height: 1.3;
}

.font-800 {
  font-weight: 800;
}

.font-600 {
  font-weight: 600;
}

.font-500 {
  font-weight: 500;
}

b, strong {
  font-weight: 700;
}

p {
  font-size: 2rem;
  line-height: 1.6;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

p b {
  color: var(--black);
}

p a {
  color: var(--blue);
  font-weight: 700;
  text-decoration: underline;
}

p a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
.black {
  color: var(--black);
}

.grey {
  color: var(--grey-text);
}

.light-grey {
  color: var(--light-grey);
}

.bg-grey {
  background-color: var(--light-grey);
}

.blue {
  color: var(--blue);
}

.black {
  color: var(--black);
}

.white {
  color: #fff;
}

.section {
  padding: 16rem 0;
}

.show-tablet {
  display: none !important;
}

.list {
  font-size: 2rem;
  line-height: 1.5;
  list-style: disc;
  padding-left: 1em;
}

.list li {
  margin-bottom: 0.5em;
  list-style: disc;
}

/*Header*/
.header {
  padding: 10rem 0;
}

.to-home {
  font-size: 20px;
  color: var(--black);
}

.to-home .icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.to-home .icon svg {
  width: 100%;
  height: 100%;
}

.to-home:hover {
  color: var(--blue);
}

.first-screen {
  background: #41A8ED url("../img/first-screen-bg.png") 100% 0 no-repeat;
  background-size: contain;
  color: var(--white);
  height: 100vh;
}

@media (min-width: 1280px) {
  .first-screen {
    min-height: 700px;
  }
}

@media (max-width: 1279px) {
  .first-screen {
    height: auto;
    min-height: 600px;
  }
  .first-screen .container {
    min-height: 600px;
  }
}

.first-screen .h1 {
  color: #fff;
  font-family: var(--main-font);
  margin-bottom: 0.5em;
}

.first-screen .h3 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.first-screen .logo {
  display: inline-block;
  margin-bottom: 6em;
}

.first-screen__descr {
  width: 55%;
}

.first-screen__img {
  width: 40%;
}

.first-screen .container {
  height: 100%;
  position: relative;
  z-index: 2;
}

.first-screen__decor {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.first-screen__decor span {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
}

.first-screen__decor span:first-child {
  width: 46.6rem;
  height: 46.6rem;
  -webkit-transform: rotate(45deg) translate(-5%, -75%);
          transform: rotate(45deg) translate(-5%, -75%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.first-screen__decor span:nth-child(2) {
  width: 69.5rem;
  height: 69.5rem;
  -webkit-transform: rotate(45deg) translate(-1%, -74%);
          transform: rotate(45deg) translate(-1%, -74%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.first-screen__decor span:nth-child(3) {
  width: 91.2rem;
  height: 91.2rem;
  -webkit-transform: rotate(45deg) translate(-1%, -72%);
          transform: rotate(45deg) translate(-1%, -72%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.first-screen__descr__content {
  margin-bottom: 6rem;
}

.first-screen__descr__content .h3 {
  font-size: 3rem;
}

.first-screen__descr__content .h3:not(:last-child) {
  margin-bottom: 1em;
}

.section-title {
  margin-bottom: 1.6em;
}

.block--two-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block--two-column .block__item {
  width: calc(50% - 3.5rem);
}

.benefit-list {
  margin: 0 -7rem;
}

.benefit-list li {
  width: 33.3333%;
  padding: 0 7rem;
}

.benefit-list__item__icon {
  max-height: 70px;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.benefit-list__item__icon img {
  max-height: 100%;
}

.benefit-list__item .h4 {
  margin-bottom: 0.5em;
}

.form-block {
  border-radius: 10px;
  background: url("../img/form_bottom_bg.png") 0 100% no-repeat, url("../img/form_top_bg.png") 100% 0 no-repeat, #41a8ed;
  background-size: 30rem, 30rem, auto;
  padding: 13rem 0;
  color: #fff;
}

.form-block .h2 {
  color: #fff;
  margin-bottom: 0.7em;
}

.form-block__content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.form-block__content form {
  width: 100%;
}

.input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  height: 70px;
  color: var(--black);
  font-family: var(--main-font);
  padding-left: 1em;
  font-size: 20px;
  border: 1px solid rgba(110, 126, 157, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

textarea.input {
  height: 150px;
  padding-top: 1em;
  resize: none;
}

select.input {
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) 50%;
}

.input-wrapper {
  margin-bottom: 2.4rem;
}

.input-wrapper--white span {
  color: #fff;
}

.input-wrapper--white .input {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
}

.input-wrapper--white .input:focus {
  background: #fff;
}

.input-wrapper span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

.input-wrapper__field {
  position: relative;
}

.input-wrapper__field .error-text {
  position: absolute;
  color: var(--red-dark);
  font-size: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 1em;
  display: none;
}

.input-wrapper__field.error .input {
  background-color: #fff;
}

.input-wrapper__field.error .error-text {
  display: inline;
}

.form-notice {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  height: 72px;
  min-width: 230px;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--white {
  background-color: #fff;
  color: var(--red);
}

.btn--white:hover {
  background-color: var(--red);
  color: #fff;
}

.btn--white:active {
  background-color: var(--red-dark);
}

.btn--blue {
  background-color: var(--blue);
  color: #fff;
  -webkit-box-shadow: 0px 16px 40px rgba(0, 35, 102, 0.1);
          box-shadow: 0px 16px 40px rgba(0, 35, 102, 0.1);
}

.btn--blue:hover {
  background-color: var(--blue-light);
}

.btn--blue:active {
  background-color: var(--blue-dark);
}

.btn--full {
  width: 100%;
}

.grant-block__descr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10rem;
}

.grant-block__descr .h4 {
  margin-bottom: 1.5em;
}

.grant-block__descr .custom-list {
  margin-bottom: 24rem;
}

.grant-block__form {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 570px;
  background: #ffffff;
  -webkit-box-shadow: 0px 16px 40px rgba(0, 35, 102, 0.1);
          box-shadow: 0px 16px 40px rgba(0, 35, 102, 0.1);
  border-radius: 10px;
  padding: 4rem;
}

.grant-block__form .h5 {
  margin-bottom: 1.3em;
}

.custom-list li {
  position: relative;
  font-size: 2.4rem;
  line-height: 1.5;
  padding-left: 2em;
}

.custom-list li::before {
  content: "";
  width: 1em;
  height: 0.6875em;
  background: url("../img/check_red.svg") 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0.4em;
}

.custom-list li:not(:last-child) {
  margin-bottom: 1.8em;
}

.company-logo-block {
  margin-top: 7rem;
}

.company-logo-block p {
  margin-bottom: 0;
}

.company-logo {
  width: 8rem;
  height: 8rem;
  margin-right: 2.4rem;
}

.company-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.grant-form__notice {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(110, 126, 157, 0.5);
  margin-top: 2em;
}

.document-content {
  width: 100%;
  max-width: 1130px;
  padding: 0 15px 60px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .document-content {
    max-width: 830px;
  }
}

@media (max-width: 768px) {
  .document-content {
    padding-top: 40px;
  }
}

.document-content__item {
  margin-bottom: 70px;
}

@media (max-width: 640px) {
  .document-content__item {
    margin-bottom: 40px;
  }
}

.document-content h1 {
  font-size: 40px;
}

@media (max-width: 640px) {
  .document-content h1 {
    font-size: 32px;
  }
}

.document-content h2 {
  font-size: 32px;
}

@media (max-width: 640px) {
  .document-content h2 {
    font-size: 24px;
  }
}

.document-content h3 {
  font-size: 24px;
}

@media (max-width: 640px) {
  .document-content h3 {
    font-size: 20px;
  }
}

.document-content h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.document-content h1, .document-content h2, .document-content h3, .document-content h4, .document-content h5 {
  font-weight: 600;
}

.document-content h1, .document-content h2, .document-content h3 {
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .document-content h1, .document-content h2, .document-content h3 {
    margin-bottom: 24px;
  }
}

.document-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .document-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .document-content p a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.document-content ul {
  list-style: square;
  font-size: 18px;
  padding-left: 1em;
  line-height: 1.6;
}

@media (max-width: 640px) {
  .document-content ul {
    font-size: 16px;
  }
}

.document-content ul li {
  list-style: square;
  margin-bottom: 1em;
}

/*Footer*/
.footer {
  border-top: 1px solid #D4D7E0;
}

.footer__main {
  padding: 8rem 0 6rem;
}

.footer__main__data {
  width: 58%;
}

.footer__main__data__item .h5 {
  margin-bottom: 1em;
}

.footer__bottom {
  padding: 5rem 0;
  border-top: 1px solid #D4D7E0;
}

.footer__menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1em;
  color: var(--grey-dark);
}

.footer__menu li .icon {
  margin-right: 1em;
  position: relative;
  top: 2px;
}

.footer__menu li a:hover {
  color: var(--blue);
}

.copyright {
  color: var(--grey-dark);
  font-size: 16px;
  line-height: 1.2;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social li {
  width: 48px;
  height: 48px;
}

.social li:not(:last-child) {
  margin-right: 2rem;
}

.social li a:hover {
  opacity: 0.8;
}

.social li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 90;
}

.confirm-popup {
  border-radius: 10px;
  background-color: #fff;
  width: 90%;
  max-width: 750px;
  padding: 60px 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 100;
}

.confirm-popup.active {
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.confirm-popup .h3 {
  margin-bottom: 1em;
}

.confirm-popup p {
  margin-bottom: 2em;
}

.popup__icon {
  margin-bottom: 6rem;
}

.close-popup {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 30px;
  right: 30px;
  color: var(--grey-dark);
}

.close-popup::before, .close-popup::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  left: 0;
  top: 50%;
}

.close-popup::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-popup::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-popup:hover {
  color: var(--red);
}

@media (max-width: 1440px) {
  html {
    font-size: 0.6vw;
  }
  .container {
    max-width: 1350px;
  }
  .grant-block__form {
    width: 535px;
  }
  .header {
    padding: 50px 0;
  }
  .header .container {
    max-width: unset;
  }
  .startup-logo {
    max-width: 660px;
  }
}

@media (max-width: 1024px) {
  .first-screen .logo {
    height: 6rem;
  }
  .first-screen .logo img {
    height: 100%;
  }
  .benefit-list__item__icon {
    height: 8rem;
  }
}

@media (max-width: 1023px) {
  .grant-block {
    display: block;
  }
  .grant-block__form {
    width: 100%;
    max-width: 535px;
    margin: 60px auto 0;
  }
  .grant-block__descr .custom-list {
    margin-bottom: 18rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 1vw;
  }
  body {
    overflow-x: hidden;
  }
  .wrapper {
    display: block;
    width: 100%;
  }
  .container {
    max-width: 680px;
  }
  .first-screen {
    min-height: unset;
    padding: 70px 0;
    background-image: url("../img/first-screen-bg_tablet.png");
    background-size: auto;
  }
  .first-screen__img, .first-screen__descr {
    width: 100%;
  }
  .first-screen__img {
    position: relative;
    min-height: 54rem;
  }
  .first-screen__img > img {
    position: absolute;
    top: -70px;
    right: -5rem;
    max-height: 60rem;
  }
  .first-screen .container {
    min-height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .first-screen .logo {
    height: 32px;
  }
  .hide-tablet {
    display: none !important;
  }
  .show-tablet {
    display: block !important;
  }
  h1, .h1 {
    font-size: 9rem;
  }
  h2, .h2 {
    font-size: 32px;
  }
  h3, .h3 {
    font-size: 3.2rem;
  }
  h4, .h4 {
    font-size: 24px;
  }
  h5, .h5 {
    font-size: 20px;
  }
  .custom-list li {
    font-size: 18px;
  }
  p, .list {
    font-size: 16px;
  }
  .benefit-list {
    margin: 0 -20px;
  }
  .benefit-list li {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .benefit-list__item p {
    font-size: 14px;
  }
  .benefit-list__item__icon {
    height: 50px;
    margin-bottom: 20px;
  }
  .section-title {
    margin-bottom: 2em;
  }
  .section {
    padding: 10rem 0;
  }
  .section-form .container {
    padding: 0;
    max-width: unset;
  }
  .form-block {
    border-radius: 0;
    padding: 10rem 0;
  }
  .form-block--content {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .block--two-column {
    display: block;
  }
  .block--two-column .block__item {
    width: 100%;
  }
  .block--two-column .block__item:not(:last-child) {
    margin-bottom: 1.5em;
  }
  .btn {
    min-width: 180px;
    height: 50px;
  }
  .input {
    height: 60px;
  }
  .footer__main__data {
    width: 100%;
  }
  .footer__bottom .logo {
    height: 24px;
  }
  .footer__bottom .logo img {
    height: 100%;
  }
  .copyright {
    font-size: 12px;
  }
  .social li {
    width: 32px;
    height: 32px;
  }
  .social li:not(:last-child) {
    margin-right: 15px;
  }
  .footer__main {
    padding: 60px 0 20px;
  }
  .footer__bottom {
    padding: 30px 0;
  }
  .input-wrapper {
    margin-bottom: 25px;
  }
  .header {
    padding: 30px 0;
  }
}

@media (max-width: 640px) {
  .first-screen {
    padding: 30px 0 100px;
  }
  .first-screen__img {
    -ms-content-zoom-limit-min: unset;
  }
  .first-screen__img > img {
    position: static;
    display: block;
    margin: 0 auto;
    top: 0;
    right: 0;
    max-height: unset;
  }
  .h1 {
    font-size: 56px;
  }
  h2, .h2,
  h3, .h3 {
    font-size: 24px;
  }
  h2 br, .h2 br,
  h3 br, .h3 br {
    display: none;
  }
  h4, .h4 {
    font-size: 20px;
  }
  h5, .h5 {
    font-size: 18px;
  }
  .custom-list li,
  .input,
  .first-screen__descr__content .h3 {
    font-size: 16px;
  }
  p, .list {
    font-size: 14px;
    line-height: 1.7;
  }
  .grant-form__notice {
    font-size: 12px;
  }
  .section {
    padding: 70px 0;
  }
  .section-title {
    margin-bottom: 1em;
  }
  .benefit-list {
    margin: 0;
  }
  .benefit-list li {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .benefit-list li:last-child {
    margin-bottom: 0;
  }
  .benefit-list__item__icon {
    height: 40px;
  }
  .form-block__content {
    padding: 0 15px;
  }
  .form-block__content .btn {
    width: 100%;
  }
  .input {
    height: 55px;
  }
  textarea.input {
    height: 100px;
  }
  .footer__main {
    display: block;
    padding: 40px 0 0;
  }
  .footer__main__data {
    display: block;
  }
  .footer__main__data__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__bottom .copyright {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    margin-top: 30px;
  }
  .form-block {
    padding: 50px 0;
  }
  .section-form {
    padding-top: 0;
  }
  .confirm-popup {
    padding: 60px 20px 20px;
  }
  .confirm-popup .btn {
    width: 100%;
  }
  .popup__icon {
    margin-bottom: 60px;
  }
  .confirm-popup .h3 {
    margin-bottom: 10px;
  }
  .confirm-popup p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .close-popup {
    top: 20px;
    right: 20px;
  }
  .input-wrapper {
    margin-bottom: 30px;
  }
  .first-screen__descr .btn {
    width: 100%;
  }
}
